:root {
  --dl-color-gray-500: #595959;
  --dl-color-gray-700: #999999;
  --dl-color-gray-900: #D9D9D9;
  --dl-size-size-large: 144px;
  --dl-size-size-small: 48px;
  --dl-color-danger-300: #A22020;
  --dl-color-danger-500: #b31010ff;
  --dl-color-danger-700: #E14747;
  --dl-color-gray-black: #000000;
  --dl-color-gray-white: #FFFFFF;
  --dl-size-size-medium: 96px;
  --dl-size-size-xlarge: 192px;
  --dl-size-size-xsmall: 16px;
  --dl-space-space-unit: 16px;
  --dl-color-primary-100: #003EB3;
  --dl-color-primary-300: #0074F0;
  --dl-color-primary-500: #14A9FF;
  --dl-color-primary-700: #85DCFF;
  --dl-color-success-300: #199033;
  --dl-color-success-500: #32A94C;
  --dl-color-success-700: #4CC366;
  --dl-size-size-xxlarge: 288px;
  --dl-color-scheme-white: #FFFFFF;
  --dl-size-size-maxwidth: 1400px;
  --dl-radius-radius-round: 50%;
  --dl-space-space-halfunit: 8px;
  --dl-space-space-sixunits: 96px;
  --dl-space-space-twounits: 32px;
  --dl-radius-radius-radius2: 2px;
  --dl-radius-radius-radius4: 4px;
  --dl-radius-radius-radius8: 8px;
  --dl-space-space-fiveunits: 80px;
  --dl-space-space-fourunits: 64px;
  --dl-space-space-threeunits: 48px;
  --dl-space-space-oneandhalfunits: 24px;
}
.button {
  color: var(--dl-color-gray-black);
  display: inline-block;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.input {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.textarea {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}
.list-item {
  display: list-item;
}
.teleport-show {
  display: flex !important;
  transform: none !important;
}
.slide-title {
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  transition: 0.3s;
  align-items: flex-start;
  font-weight: 500;
  border-color: transparent;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
  border-bottom-width: 2px;
}
.slide-title:hover {
  opacity: 0.5;
}
.slide-title-active {
  border-color: #0000F5;
}
.banner {
  cursor: pointer;
  display: flex;
  max-width: auto;
  align-items: flex-start;
  border-width: 0px;
  flex-direction: row;
  background-color: #0000F5;
}



.blaze-track {
  cursor: grabbing;
}


.slider {
  -slides-to-show: 3;
}


.glide__slides {
  width: 100%;
  height: 300px;
  display: flex;
}
.glide__slide {
  height: 100%;
  display: flex;
}




.navLink {
  color: #ffffff;
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 600;
}
.navLink:hover {
  opacity: 0.5;
}
.button-style-1 {
  padding: var(--dl-space-space-oneandhalfunits);
  transition: 0.3s;
  aspect-ratio: 1;
  border-color: #AA82FF;
  border-width: 2px;
  border-radius: var(--dl-radius-radius-round);
  background-color: #AA82FF;
}
.button-style-1:hover {
  opacity: 1;
  border-color: var(--dl-color-gray-white);
  border-width: 2px;
  background-color: rgba(170, 130, 255, 0.5);
}
.tab {
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  border-bottom-width: 4px;
}
.tab:hover {
  color: #fff;
}
.tab-active {
  color: white;
  border-color: #A480EF;
}
.speaker {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

.gradient-background {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  justify-content: center;
}


.brand {
  width: 100%;
  display: flex;
  max-width: 100%;
  align-items: center;
  aspect-ratio: 1;
  border-color: rgba(0, 0, 0, 0.2);
  flex-direction: column;
  justify-content: center;
  border-right-width: 1px;
}
.button-clean {
  border: none;
  padding: 0px;
  box-shadow: none;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  background-color: transparent;
}
.button-link {
  color: rgb(255, 255, 255);
  display: flex;
  font-size: 24px;
  box-shadow: none;
  font-style: normal;
  align-items: center;
  font-weight: 400;
  line-height: 36px;
  padding-top: var(--dl-space-space-threeunits);
  border-color: rgba(255, 255, 255, 0.3);
  border-width: 0px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
  text-decoration: none;
  background-color: transparent;
  border-top-width: 1px;
  border-bottom-width: 1px;
}
.accordion {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: baseline;
  padding-top: var(--dl-space-space-oneandhalfunits);
  border-color: #313133;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
  border-bottom-width: 1px;
}
.accordion-content {
  color: #7C7C80;
  width: 100%;
  display: none;
  max-width: 560px;
  line-height: 24px;
}
.blogfilter {
  flex: 0 0 auto;
  width: auto;
  height: 100%;
  display: flex;
  align-items: flex-start;
}
.section-head {
  color: rgb(128, 255, 68);
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.section-heading {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  line-height: 48px;
}
.accordion-element {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  cursor: pointer;
  display: flex;
  position: relative;
  max-width: 600px;
  transition: .5s all linear;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  user-select: none;
  border-color: #5A5A5A;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
  border-bottom-width: 1px;
}
.nav-link {
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
}
.nav-link:hover {
  opacity: 0.5;
}
.tag {
  color: #151515;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  padding-top: 20px;
  border-color: #151515;
  border-width: 1px;
  padding-left: 28px;
  border-radius: 56px;
  padding-right: 28px;
  padding-bottom: 20px;
}
.link {
  gap: var(--dl-space-space-unit);
  cursor: pointer;
  display: flex;
  position: relative;
  transition: 0.3s;
  align-items: center;
  border-color: #151515;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  border-bottom-width: 1px;
}
.link:hover {
  opacity: 0.5;
}
.heading {
  color: #151515;
  font-size: 80px;
  font-style: normal;
  font-weight: 500;
  line-height: 72px;
  text-transform: uppercase;
}
.start-button {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  padding-top: 20px;
  padding-left: 28px;
  border-radius: 56px;
  padding-right: 28px;
  padding-bottom: 20px;
  background-color: #235536;
}
.service {
  width: 854px;
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  border-color: #666666;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
  border-bottom-width: 1px;
}
.service:hover {
  opacity: 0.5;
}
.social {
  color: rgb(21, 21, 21);
  cursor: pointer;
  font-size: 20px;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  line-height: 24px;
}
.social:hover {
  opacity: 0.5;
}
.bloghead {
  color: var(--dl-color-gray-white);
  font-size: 20px;
  user-select: none;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
}
.description {
  color: var(--dl-color-gray-black);
  width: 100%;
  font-size: 24px;
  max-width: 800px;
  text-align: left;
  line-height: 36px;
}
.button-md {
  padding-top: 12px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 12px;
}
.button-secondary-white {
  color: #191919;
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  line-height: 1;
  border-color: transparent;
  border-radius: var(--dl-radius-radius-radius4);
  background-color: var(--dl-color-scheme-white);
}
.button-secondary-white:hover {
  color: var(--dl-color-scheme-white);
}
.section1 {
  color: var(--dl-color-gray-white);
  padding: var(--dl-space-space-unit);
  font-size: 24px;
  border-radius: 16px;
  background-color: #ff0000;
}
.sctn1desc {
  color: var(--dl-color-gray-white);
  width: 50%;
  font-size: 24px;
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  font-weight: 500;
  margin-bottom: var(--dl-space-space-threeunits);
}
.Content {
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.Heading {
  font-size: 32px;
  font-family: Inter;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
@media(max-width: 1600px) {
  .bloghead {
    font-size: 20px;
  }
  .section1 {
    color: var(--dl-color-gray-white);
    background-color: #ff0000;
  }
  .sctn1desc {
    color: var(--dl-color-gray-white);
    width: 40%;
    font-size: 20px;
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 1200px) {
  .section1 {
    color: var(--dl-color-gray-white);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
    background-color: rgb(255, 0, 0);
  }
  .sctn1desc {
    color: var(--dl-color-gray-white);
    width: 30%;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 991px) {
  .banner {
    flex-direction: column;
  }
  .accordion {
    gap: var(--dl-space-space-unit);
    padding-top: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .accordion-content {
    font-size: 14px;
    line-height: 21px;
  }
  .link {
    padding-bottom: 0px;
    border-bottom-width: 0px;
  }
  .heading {
    font-size: 30px;
    line-height: 27px;
  }
  .social {
    font-size: 16px;
    line-height: 19px;
  }
  .description {
    font-size: 16px;
    line-height: 24px;
  }
}
@media(max-width: 767px) {
  .gradient-background {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .brand {
    aspect-ratio: 16/9;
  }
  .button-link {
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .accordion-element {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .button-md {
    text-align: center;
  }
  .button-secondary-white {
    text-align: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .gradient-background {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .accordion-element {
    max-width: auto;
  }
  .bloghead {
    font-size: x-small;
    font-style: normal;
    font-weight: 400;
  }
}
